name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  pull_request_review:

jobs:
  validate:
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'
    runs-on: ubuntu-24.04
    name: Validate
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check Style
        run: pnpm style:check

      - name: Check Types
        run: pnpm types:check

      - name: Compile
        run: pnpm build

  tests:
    runs-on: ubuntu-24.04
    name: Tests
    if: github.event_name != 'pull_request_review' ||  github.event.pull_request.head.ref == 'changeset-release/main'

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - name: Setup NodeJS
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm test
